/* -------------------------------------------------------------------------------------------------
    @RESET
------------------------------------------------------------------------------------------------- */

* { margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub,
sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; padding: 0; }
ul { list-style: none; }

input, select { vertical-align: middle; }
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner, select::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}
:focus { outline: none; }
:focus::-webkit-input-placeholder { color: transparent; }

/* -------------------------------------------------------------------------------------------------
    @FONTS
------------------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------------
    @TYPOGRAPHY
------------------------------------------------------------------------------------------------- */

body { font: 12px/18px arial, sans-serif; color: #333; *font-size: small; }
select, input, textarea, button { font: 99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }
ol { list-style-type: decimal; }
small { font-size: 85%; }
strong, b { font-weight: bold; }
table { width: 100%; }
td, td img { vertical-align: top; }
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre { padding: 15px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }
.ie7 img { -ms-interpolation-mode: bicubic; }

/* --------------------------------------------------
    SELECTION */

::-moz-selection{ background: #09f; color: #fff; text-shadow: none; }
::selection { background: #09f; color: #fff; text-shadow: none; }

/* --------------------------------------------------
    LINKS */

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #09f; }
a:hover { text-decoration: none; }
a:link { -webkit-tap-highlight-color: #09f; }

/* --------------------------------------------------
    HEADERS */

h1, .h1 { font: 30px/36px arial, sans-serif; color: #333; margin-bottom: 18px; }
h2, .h2 { font: 24px/30px arial, sans-serif; color: #333; margin-bottom: 16px; }
h3, .h3 { font: 18px/24px arial, sans-serif; color: #333; margin-bottom: 12px; }
h4, .h4 { font: 16px/22px arial, sans-serif; color: #333; margin-bottom: 10px; }
h5, .h5 { font: 14px/20px arial, sans-serif; color: #333; margin-bottom: 6px; }
h6, .h6 { font: 12px/18px arial, sans-serif; color: #333; margin-bottom: 6px; }

/* --------------------------------------------------
    ARTICLES */

.text-content {  }
.text-content p { margin-bottom: 18px; }
.text-content ul { margin-bottom: 18px; }
.text-content ul li {  }
.text-content ol { margin-bottom: 18px; }
.text-content ol li {  }
.text-content table { margin-bottom: 18px; }
.text-content tr {  }
.text-content th {  }
.text-content td {  }
.text-content tr:hover td {  }

/* -------------------------------------------------------------------------------------------------
    @FORMS
------------------------------------------------------------------------------------------------- */

select, input, textarea { font: 12px/18px arial, sans-serif; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
textarea { overflow: auto; resize: none; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
button { width: auto; overflow: visible; }

/* --------------------------------------------------
    GLOBAL */

.form-item {
    margin-bottom: 10px;
}
.form-item label {
    display: inline-block;
    margin-bottom: 4px;
}

.form-submit {
    text-align: right;
}

input[type="text"], input[type="password"], textarea, select { 
    width: 100%; 
    padding: 4px 9px; 
    border: 1px solid #ccc; 
}

input[type="text"], input[type="password"], select { height: 30px; }
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus { border-color: #09f; }

input[type="submit"], input[type="button"], button {
    padding: 4px 9px;
    border: 1px solid #ccc;
    background: #eee;
}

/* --------------------------------------------------
    VALIDATION */

.error input, .error textarea, .error select,
.error input:focus, .error textarea:focus, .error select:focus { border-color: #c00; }

/* -------------------------------------------------------------------------------------------------
    @HELPERS
------------------------------------------------------------------------------------------------- */

.clear:before, .clear:after { content: " "; display: table; }
.clear:after { clear: both; }
.clear { *zoom: 1; }

.hidden { display: none }
.invisible { position: absolute; left: -9999px; top: -9999px; }

.nobr { white-space: nowrap; }

.ib, .icon { display: -moz-inline-stack; display: inline-block; zoom: 1; *display: inline; _overflow: hidden; }
.icon { vertical-align: middle; height: 18px; line-height: inherit; }

.mute-text { color: #999; }
.error-text { color: #c00; }
.success-text { color: #0c0; }

/* -------------------------------------------------------------------------------------------------
    @LAYOUT
------------------------------------------------------------------------------------------------- */

html { height: 100%; }
body { height: auto !important; height: 100%; min-height: 100%; position: relative; }
.page-header {  }
.page-main { padding-bottom: 120px; }
.page-footer { position: absolute; bottom: 0; height: 100px; width: 100%; }

.container { width: 960px; margin: 0 auto; position: relative; }

/* -------------------------------------------------------------------------------------------------
    @COMMON
------------------------------------------------------------------------------------------------- */

.js-link { text-decoration: none; }
.js-link span { display: inline; border-bottom: 1px dashed; }
.js-link:hover span { border-color: transparent; }

/* --------------------------------------------------
    CHROMEFRAME FOR OLD BROWSERS */

.chromeframe { background: #ccc; color: black; padding: 10px; }
.chromeframe a { color: #00c; }

/* --------------------------------------------------
    FULLPAGE BACGROUND */

/*html { 
    background: url(./../images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./../images/bg.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./../images/bg.jpg', sizingMethod='scale')";
}*/

/* -------------------------------------------------------------------------------------------------
    @HEADER
------------------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------------
    @PRIMARY
------------------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------------
    @FOOTER
------------------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------------
    @POPUPS
------------------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------------
    @PLUGINS
------------------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------------
    @RESPONSIVE
------------------------------------------------------------------------------------------------- */



/* -------------------------------------------------------------------------------------------------
    @PRINT
------------------------------------------------------------------------------------------------- */

@media print {
    * { background: transparent !important; color: #333 !important; text-shadow: none !important; }
    a, a:visited { color: #333 !important; text-decoration: underline; }
    a:after { content: " (" attr(href) ")"; }
    abbr:after { content: " (" attr(title) ")"; }
    .ir a:after { content: ""; }
    pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
    thead { display: table-header-group; }
    tr, img { page-break-inside: avoid; }
    @page { margin: 0.5cm; }
    p, h2, h3 { orphans: 3; widows: 3; }
    h2, h3{ page-break-after: avoid; }
}